####################################################################################################
# Let lombok know this is the root folder for the project
config.stopBubbling = true
####################################################################################################
# Ignore lombok generated code when generating the coverage report via Jacoco
####################################################################################################
# This adds the annotation lombok.@Generated to the relevant methods,
# classes and fields. Jacoco is aware of this annotation and will ignore that annotated code.
# Please keep in mind that you require at least version 0.8.0 of Jacoco and v1.16.14 of Lombok.
lombok.addLombokGeneratedAnnotation = true
####################################################################################################